@import "../gruby_sass_variables.scss";

.wp-core-ui{
  .button-primary{
    background: $primary;
    border-color: $primary darken($primary, 20%) darken($primary, 20%);
    -webkit-box-shadow: 0 1px 0 darken($primary, 20%);
    box-shadow: 0 1px 0 darken($primary, 20%);
    text-shadow: 0 -1px 1px darken($primary, 20%), 1px 0 1px darken($primary, 20%), 0 1px 1px darken($primary, 20%), -1px 0 1px darken($primary, 20%);
    &.focus, &.hover, &:focus, &:hover{
      background: lighten($primary, 5%);
      border-color: darken($primary, 20%);
    }
    &.active, &.active:focus, &.active:hover, &:active{
      background: $primary;
      border-color: darken($primary, 20%);
      -webkit-box-shadow: inset 0 2px 0 darken($primary, 20%);
      box-shadow: inset 0 2px 0 darken($primary, 20%);
    }
    &.focus, &:focus{
      -webkit-box-shadow: 0 1px 0 $primary, 0 0 2px 1px lighten($primary, 5%);
      box-shadow: 0 1px 0 $primary, 0 0 2px 1px lighten($primary, 5%);
    }
  }
}
input[type=text]:focus, input[type=search]:focus, input[type=radio]:focus, input[type=tel]:focus, input[type=time]:focus, input[type=url]:focus, input[type=week]:focus, input[type=password]:focus, input[type=checkbox]:focus, input[type=color]:focus, input[type=date]:focus, input[type=datetime]:focus, input[type=datetime-local]:focus, input[type=email]:focus, input[type=month]:focus, input[type=number]:focus, select:focus, textarea:focus{
  border-color: lighten($primary, 5%);
  -webkit-box-shadow: 0 0 2px lighten($primary, 5%);
  box-shadow: 0 0 2px lighten($primary, 5%);
}

.login #backtoblog a:hover, .login #nav a:hover, .login h1 a:hover{
  color: $primary;
}

.login #login_error, .login .message{
  border-color: $primary;
}

input[type=checkbox]:checked:before{
  color: $primary;
}
