.gruby_logs {
  margin-top: 3rem;

  .log {
    padding: 10px;
    background: rgb(120, 120, 120);
    color: white;

    &.success {
      background: rgb(95, 184, 73);
      color: white;
    }

    &.warning {
      background: rgb(237, 191, 51);
      color: white;
    }

    &.danger {
      background: rgb(237, 73, 51);
      color: white;
    }

    &.info {
      background: rgb(24, 150, 241);
      color: white;
    }

  }

}
